*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	font-size: 62.5%;
}
body{
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	font-size: 0.9rem;
}

h1, h2, h3{
	font-size: 2.8rem;
	line-height: 1.4;
	margin-bottom: 15px;
}

h3{
	font-size: 24px;
}

h6{
	color: #484848;
	font-size: 1rem;
	font-weight: 400;
}
a{
	text-decoration: none;
	color: rgb(26, 163, 226);
}

p{
	margin: 16px 0;
	color: #484848;
}


.contain{
	margin: 0 12px;
}

.navigation{
	background: #556270;
	padding: 25px 12px 24px;
}

.navigation::after{
	content: '';
	display: block;
	clear: both;
}

.navigation >.contain > ul{
	list-style: none;
}
.navigation >.contain  > ul:first-child{
	float: left;
}
.navigation >.contain  > ul:last-child{
	float: right;
}
.navigation >.contain  > ul >li{
	margin-right: 10px;
	display: inline-block;
}

.navigation a{
	text-transform: uppercase;
	font-size: .8rem;
	color: #ededed;
}

.header{
	padding: 40px 0 20px;
	border-bottom: 1px solid rgba(188, 188, 188, 0.31);
	position: relative;
}
.header::before, .header::after{
	content: '';
	position: absolute;
	bottom: -1px;
	width: 12px;
	height: 2px;
	background: #fff;
}
.header::before{
left: 0;
}
.header::after{
	right: 0;
}

.guides{
	padding-top: 40px;
}

.guides__image img {
	display: block;
	width: 100%;
	margin-top: 39px;
}

.footer{
	padding-bottom: 24px;
}

.footer__item{
margin-top: 44px;
}

.footer__item a {
	text-decoration: underline;
	color: #050575;
	display: block;
	margin-top: 30px;
}

.grid{
	margin-left: -14px;
	margin-right: -14px;
}
.grid::after{
	content: '';
	display: block;
	clear: both;
}
[class*="col-"]{
	float: left;
	display: block;
	width: 100%;
	padding-left: 14px;
	padding-right: 14px;
}

/* tablet */

@media screen and (min-width: 768px){
	:root{
		font-size: 85%;
	}
	[class*="col-md-"]{
		float: left;
		padding-left: 14px;
		padding-right: 14px;
	}
	.col-md-5{
		width: 50%;
	}
}

@media screen and (min-width: 992px){
	:root{
		font-size: 100%;
	}
	.contain{
		max-width: 1130px;
		margin: auto;
		padding: 12px;
	}
	.col-3{
		width: 33.333%;
		width: calc(100%/3);
	}
	.navigation{
		background: none;
	}
	.navigation a{
		color: #000;
	}
	.header{
	background: url('../img/lodging.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-left: 100%;
	padding-top: 39.12%;
	padding-top: calc(500/1278*100%);
}

.header__content{
	position: absolute;
	top: 30%;
	left: 0%;
	width: 100%;
}
.header__content h1,.header__content h6{
	padding: 0;
	margin: 0;
	color: #fff;
}
.header__content h1{
	font-family: serif;
}

.header__content h6{
	font-weight: 400;
}

.guides{
	background: #efefef;
	padding-top: 40px;
}
	.guides__image img{
		
		margin: calc(360/356*100% - 2*165/360*100%) 0;
	}
	.footer{
	background: #f7f7f7;
	padding: 60px 0 70px 0;
}
}